@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color:black;
  font-family: 'Raleway', monospace;
}

#canvas {
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: -999;
  position: fixed;
}

.menu {
  margin-top:4vh;
  margin-left:8vh;
}

.menu li {
  float: left;
  padding-right: 30px;
  font-size: 2em;
  color: #white;
  list-style-type: none;
}

.menu li a {
  color: #white;
  text-decoration: none;
}

#title {
  margin-top: 5vh;
  margin-bottom:2vh;
  color: white;
  font-family: 'Open + Sans', none;
}

h1, p {
  text-align: center;
}

p {
  font-size: 2em;
  color: white;
}

.portfolio {
  width:50%;
}

.imgdes {
  color: white;
  font-family: 'Raleway', none;
}

#herelink {
  color: white;
}


.description {
  width:50%;
}
